<div class="row my-4">
    <div class="col-12 text-center">
        <button class="btn mr-2" [ngClass]="{'btn-success': dangChieuStatus}" (click)="HienPhimDangChieu()">Đang Chiếu</button>
        <button class="btn " [ngClass]="{'btn-success': !dangChieuStatus}" (click)="HienPhimSapChieu()">Sắp Chiếu</button>
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="dangChieuStatus; else phimSapChieu">
        <app-hien-thi-phim [danhSach]="danhSachPhim | slice:0:7"></app-hien-thi-phim>
    </div>
    <ng-template #phimSapChieu>
        <div class="col-12">
            <app-hien-thi-phim [danhSach]="danhSachPhim | slice:7"></app-hien-thi-phim>
        </div>
    </ng-template>
</div>